.country-detail-page {
    background-color: #0a3d62;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .country-content {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .country-info-container {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  .country-flag-name {
    flex-basis: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .country-flag-name img {
    width: 100%; 
    height: auto;
    margin-bottom: 20px; 
  }
  
  .country-details {
    flex-basis: 50%; 
    display: flex;
    flex-direction: column;
  }

  .country-details p {
    margin: 10px 0;
  }
  .country-detail-page .back-button {
    margin-top: 20px;
  }
  